/**项目配色**/
$theme_color1: #05bbd5;
$theme_color2: #e2f5f9;

/**给组件配置的主题色**/
$inputHoverBorderColor: $theme_color1; //input在hover时的border颜色
$btnBackgroundColor: $theme_color1; //自定义btn默认背景颜色
$btnHoverBackgroundColor: $theme_color2; //自定义btn在hover时的背景颜色
$radioOuterBackgroundColor: $theme_color1; //radio选中时外圈的背景颜色
$radioInnerBackgroundColor: #FFFFFF; //radio选中时内圈的背景颜色
$treeBackgroundColor: $theme_color1; //tree选中菜单时的背景颜色
$treeBackgroundColor1: #f6f6f6; //tree选中菜单时的背景颜色，自定义方案1
$treeBackgroundColor2: #eeeeee; //tree选中菜单时的背景颜色，自定义方案2
$treeBackgroundColor3: #f0f0f0; //tree选中菜单时的背景颜色，自定义方案3
$treeHoverBackgroundColor: $theme_color2; //tree鼠标滑过菜单时的背景颜色
$treeHoverBackgroundColor2: #f9f9f9; //tree鼠标滑过菜单时的背景颜色方案2
$treeHoverBackgroundColor3: #eeeeee; //tree鼠标滑过菜单时的背景颜色方案3
$treeItemActiveFontColor1: #333333; //tree选中后自定义的字体颜色方案1
$treeItemActiveFontColor2: #777777; //tree选中后自定义的字体颜色方案2
$videoJSHoverBackgroundColor: $theme_color2; //videoJs播放按钮hover时的背景颜色
$tableHeaderBackground: $theme_color1; //table头的背景颜色
$tableTrBackground1: #fbfbfb; //table的行背景颜色方案1
$tableDiyStripeColor: #f7f7f7; //table的自定义的斑马纹颜色
$paginationBorderHoverColor: $theme_color1; //分页控件hover时的边框颜色
$checkboxCheckedSpanColor: #777777; //checkbox组件自定义旁边label的文字在选中后的颜色方案1

/**导出js需要的主题色**/
:export {
  theme_color1: $theme_color1;
}